        
   
footer{
    text-align: center;
    -webkit-transition: .5s ease-in-out;
    position: absolute;
    color: azure;
    /* right: 0;
    bottom: 0;
    left: 0; */
    width: 100%;
    /* min-width: 967px; */
    /* font-size: 20px; */
    /* height: px; */
    background-color:#2a2a2a;
    /* margin: 0 0 0 0; */
    padding-bottom: 5px;
    display: inline-block;
    white-space: nowrap;

}




.contact-icons i{
	height: 40px;
	width: 40px;
	background: #06d9ba;
	color:  #f2f2f2;
	font-size: 23px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
 	transition: all .45s ease;

}
.contact-icons {
 	text-align: center;
}

.contact-icons i:hover{
	background:  #f2f2f2;
	color: #06d9ba;
}

 

 