:root{
	--bg-color: #2a2a2a;
	--second-bg-color: #202020;
	/* --text-color: #fff; */
	--text-color: #f2f2f2;
	/* --second-color: #ccc; */
	--second-color: #F2F2F2;
	--main-color: #06d9ba;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;

	--bg-black-900:#202020;
--bg-black-100: #2a2a2a;
--bg-black-50:#e8dfec;
--text-black-900:#fff;
--text-black-700:#ccc;
}
 
 
body{
	background: var(--second-bg-color);
	color: var(--text-color);
}
.services h2{
    margin-bottom: 2rem;
}

.services-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.services-container .services-box{
    flex:  1 1 ;
    /* background-color: ; */
    padding: 4rem  ;
    border-radius: 2rem;
    text-align: center;
    border: .1rem solid var(--main-color);;
}
.services-box i{
    /* padding-top:30px ; */
    font-size: 2rem;
    color: var(--main-color);
    border: #06d9ba;
}